html {
	margin: auto 50px;
	font-size: 18px;
	font-family: Lato;
	color: black;
}

img {
	display: block;
	max-width: 700px;
	height: auto;
	width:  auto;
    margin-left: auto 50px;
    margin-right: auto;
}
h1 {
	margin-bottom: -20px;
}

h1 a {
	color: khaki;
	font-weight: 100;
	text-decoration: none;
	font-size: 3rem;
}

h2 {
	font-weight: 100;
}

h2 a {
	font-weight: 100;
	text-decoration: none;
	font-size: 2rem;
	color: black;
}

header nav a {
	color: gainsboro;
	font-size: 1.125rem;
	font-weight: 100;
	padding: 0 7.5px 0px 7.5px;
}

h3 {
	color: darkgrey;
	font-size: 2rem;
	font-weight: 100;
	margin-bottom: -20px;
}

article p::first-letter {
	font-size: 4rem;
	color: darkgray;
	float: left;

}

h4 a {
	color: khaki;
	float: right;
	margin-bottom: 20px;
	text-decoration: none;
}

article {
	max-width: 700px;
	border-bottom: solid gainsboro;
	padding-bottom: 60px;
}

footer nav a {
	color: khaki;
	font-size: 16px;
}

footer{
	margin-top: 70px;
}

footer p {
	font-size: 16px;
}